<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<% content_for :page_title do %>
  <%= t(:one_c7_connector) %>
<% end %>

<%= form_tag admin_one_c7_connector_path, :multipart => true do %>
    <p class="form-buttons filter-actions actions">
      <%= button t(:import) %>
    </p>
<% end %>
